---
layout: default
---
<h1>{{ page.title }}</h1>
<a href="#encode">Skip to Encode</a>
<pre id="rawcode">{{ page.content }}</pre>

<table id="data" class="table table-striped table-bordered table-condensed">
	<thead><tr class="datahead"></tr></thead>
	<tbody id="body"></tbody>
	<thead><tr class="datahead"></tr></thead>
</table>
<a id="encode"></a>
<h2>Encode:</h2>
<p>
	Enter in the field how you want the data to look using <code>{% raw %}{{ FIELDNAME }}{% endraw %}</code> where FIELDNAME is one of the
	headers on the table above. Then press Go
</p>
<h6>Note: Case Sensitive!</h6>
<textarea id="enter"></textarea>
<button id="go" class="btn btn-large btn-primary">Go</button>
<pre id="output">press go</pre>